
.pcard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('../img/pokeD.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    margin: 1em;

}
.pokecard{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8em;
    height: 600px;
 
}
.img-container-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.cardtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.p-k{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardpic{
    padding-right: 30%;
    padding-top: 20%;
    height: 95%;
    object-fit: fill;
}
.stats{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
